fastapi==0.104.1
uvicorn[standard]==0.24.0

# JWT / Security
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

# Pydantic (né Rust version mới)
pydantic==2.4.2
pydantic-core==2.10.1
pydantic-settings==2.0.3

# Env
python-dotenv==1.0.0

# DB
sqlalchemy==2.0.23
mysqlclient==2.2.0
alembic==1.12.1

# Utils
python-dateutil==2.8.2
email-validator==2.1.0

# Crypto (hạ version)
cryptography==41.0.3
